
.post {
    background-color: white;
    border: 1px solid #AAA;
    padding: 20px 40px;
    margin: 0px auto;
    position: relative;
    margin-bottom: 40px;
}

.shadow {
    -moz-box-shadow: 2px 5px 12px #555;
    -webkit-box-shadow: 2px 5px 12px #555;
    box-shadow: 2px 5px 12px #555;
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=90, Color='$color')";
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=90, Color='$color');
}

body {
    font-family: 'Noto Serif', serif;
    font-size: 16px;
    line-height: 25px;
}

.navbar .brand {
    font-size: 25px;
}